# Ignore OS files
.DS_Store
__MACOSX/

# Ignore zip files
*.zip

# Ignore Streamlit cache
.streamlit/cache/
.streamlit/secrets.toml

# Ignore large/local data
data/final_data.zip
../Streamlit_App/
../data/Climate Data/

